* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*common*/
img {
    max-width: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    min-width: 1200px;
}


.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;   
}

.col-4 {
    width: calc((100% / 12)* 4 );
    padding: 0.5rem;
}

/*colors*/
:root {
    --tob-header: #ff6900;
    --tob-discount: #ff0000;
    --tob-sustainability: #008000;
    --tob-footer: #000000;
}

/*region header*/
.app_header {   
    background-color: var(--tob-header);
    padding: 0.5rem;
    box-shadow: 0px 5px 10px #b6b6b6;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        a {
            text-decoration: none;
            color: white;
        }

    }
    .one.menu {
        a {
            font-weight: 600;
            padding-right: 0.5rem;
        }
    .two_menu {
            a {
                padding-left: 0.5rem;
            }
        }
    }
}

/*region main*/
.app_main {
    padding: 2rem 0;

.products {
    margin-top: 3rem;
}

.item {
    position: relative;
    box-shadow: 0 0 10px #e0e0e0;
}

.item .top .back {
    display: none;
}

.item:hover .top .back {
    display: inline-block;
}

.item:hover .top .front {
    display: none;
}

.details {
    position: absolute;
    color: white;
    bottom: 7rem;
    left: 0;
    

    .discount, .category {
        padding: 0.25rem;
    }
    .discount{
        background-color: var(--tob-discount);
    }
    .category{
        background-color: var(--tob-sustainability);
    }
}

.info {
    padding: 1rem;
}

.item .discounted {
    color: var(--tob-discount)
}

.item .original {
    text-decoration: line-through;
}

.item .like {
    position: absolute;
    top: 0.25rem;
    right: 0;
    background-color: white;
    padding: 0.5rem;
    z-index: 1;
}
}

